$main-green: #4CAF50;
$dark-green: #388E3C;
$orange: #FF9800;
$yellow: #FFEB3B;
$white: #fff;
$white-smoke: #dedede;
$green: #62af6a;
$bg: #eee;
$text: #222;
$font-lora: var(--font-lora);
$font-dancing: var(--font-dancing);

$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);